@font-face {
    font-family: 'alarm\ clock.ttf';
    src: url('alarm\ clock.ttf') format('truetype');
  }

body {
    text-align: center;
    font-family: 'alarm\ clock.ttf';
    font-size: x-large;
}

#startTimer {
    font-family: 'alarm\ clock.ttf' ;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
}

#stopTimer {
    font-family: 'alarm\ clock.ttf' ;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
}

#resetTimer {
    font-family: 'alarm\ clock.ttf' ;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
}

#timer {
    margin-bottom: 20px;
    font-size: 100px;
    color: red;
}