nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tiger {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.tiger img {
    border-radius: 5%;
}

.tiger h1 {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.tiger p {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.articles {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin: 20px auto;
}

.article {
    width: calc((100% - 2 * 20px) / 3); /* largeur exacte pour 3 images + gap */
    text-align: center;
}

.article img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* taille fixe avec recadrage propre */
    border-radius: 5%;
}

.article p {
    margin: 5px;
}
