@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
