body{
    display: flex;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border-width: 5px;
}

input.valid {
  border-color: green;
}

input.invalid {
  border-color: red;
}

#submit {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
}

label {
    font-size: 20px;
    font-weight: bold;
}