@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

nav ul {
    display: flex;
    background-color: #29252D;
    padding: 25px;
    color: white;
    width: 100%;
    margin: 0;
    align-items: center; 
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    
}

nav ul li:first-child {
    margin-left: 0; 
}

li {
    list-style: none;
    margin: 0 100px; 
    text-decoration: underline; 
    text-decoration-color: white;
}

li:hover {
    color: #FFD700;
}

.deco {
    margin-left: auto; 
    margin-right: 50px; 
    text-decoration: none;
    background-color: #766388;
    border-radius: 5px;
    padding: 5px 15px;
}

.deco:hover {
    color: #139fb8;
    background-color: #4C4756; 
}

.centre {
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
}

h1 {
    font-weight: normal;
}

.formInscription {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;


}.formConnexion {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}

.formInput {
    background-color: #D9D9D9;
    border: none;
    padding: 15px;
    width: 500px;
}

.formInscription label {
    text-align: left;
    display: block;
    width: 500px;
    margin: 0 auto;
}

.formConnexion label {
    text-align: left;
    display: block;
    width: 500px;
    margin: 0 auto;
}

#btn {
   width: 500px; 
   padding: 10px;
   background-color: #766388;
   color: white;
   font-size: 50px;
}

.entete {
    background-color: #696474;
    width: 80%;
    border-radius: 10px;
    max-width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 25px;
    margin-top: 40px;
    color: white;
}

.cdm {
    border-collapse: separate; 
    border-spacing: 10 10px; 
    background-color: #696474;
    width: 90%;
    border-radius: 10px; 
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

thead {
    color: white;
}

.cdm tbody th, 
.cdm tbody td {
    color: white;
    background-color: #4C4756; 
    padding: 10px 20px; 
    border-radius: 10px;
}

.cdm tbody td:last-child {
    text-align: center;
}

.cdm .btn-danger {
    background-color: #766388;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.cdm .btn-danger:hover {
    color: #139fb8;
    background-color: #4C4756; 
}