* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

#search {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}