.header {
    display: flex;
    background-color: aquamarine;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 0;
    padding: 0;
}

header p {
    font-size: 50px;
}

.main {
    display: flex;
    align-items: center;
}