* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

table {
  border: 5px solid rgb(105, 96, 96);
  border-collapse: collapse;
  margin: 100px;
  text-align: center;
}

th, td {
  border: 1px solid rgb(105, 96, 96);
  padding: 10px;
}
